<div class="principal-container-lab">
    <div class="gallery">
        <div class="title-lab">
            <h1>Laboratório</h1>
            <a [routerLink]="['/room-calendar']">
                <i class="fa-regular fa-calendar"></i>
            </a>
        </div>
        <div class="principal-img">
            <img src="../../assets/img/lab1.png" alt="">
        </div>
        <div class="more-img">
            <div class="img"><img src="../../assets/img/lab-more.png" alt=""></div>
            <div class="img"><img src="../../assets/img/lab-more.png" alt=""></div>
            <div class="img"><img src="../../assets/img/lab-more.png" alt=""></div>
        </div>
    </div>
    <div class="principal-container-text">
        <p class="description">
            Laboratório do bloco de mestrado em ciência da computação -UFAC
        </p>
        <div class="equipament">
            <h4>Equipamentos</h4>
            <ul>
                <li><i class="fa-solid fa-check"></i> 30 computadores</li>
                <li><i class="fa-solid fa-check"></i>32 cadeiras</li>
                <li><i class="fa-solid fa-check"></i>01 projetor EPSON</li>
                <li><i class="fa-solid fa-check"></i>01 Quadro branco</li>
                <li><i class="fa-solid fa-check"></i>01 Ar condicionado</li>
            </ul>
            <div class="buttons">
                <button onclick="history.back()" class="button button-blue">Voltar</button>
                <button class="button button-schedule">Solicitar</button>
            </div>

        </div>
    </div>
</div>
