
$defaultBackground: #F5FAFF;

$white: #fff;
$black: #000;
$blue: #0C4CA4;
$darkBlue: #003279;
$yellow:#FCBB15;
$grey: #C1C1C1;
$green: #48A35D;
$darkGreen:#004e12;
$red: #A40C0C;
$lightBlue: #A5CAFF;
$lightYellow: #FEE4A1;
$lightGreen: #91C89E;
$lightGrey: #E7EFF9;
$darkGrey: #747474;

$shadowDefault: 0px 0.2rem 10px 0px $lightGrey;

